<div class="container-fluid">
  <nav class="navbar navbar-expand-lg bg-dark-subtle text-emphasis-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">WK-BloodBank</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="">Pessoas</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Quantitativo
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="por-estado">Candidatos por Estado</a></li>
              <li><a class="dropdown-item" routerLink="imc-medio">IMC médio por Faixa Etária</a></li>
              <li><a class="dropdown-item" routerLink="percentual-obesos">Percentual de Obesos</a></li>
              <li><a class="dropdown-item" routerLink="idade-media">Idade média por Tipo Sanguíneo</a></li>
              <li><a class="dropdown-item" routerLink="possiveis-doadores">Possíveis doadores por Tipo Sanguíneo</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
