<div class="container mt-5">

  <div *ngIf="!mostrarTextAreaParaJson">
    <button class="btn btn-info" (click)="mostrarTextParaJson()">Adicionar JSON</button>
  </div>

  <div *ngIf="mostrarTextAreaParaJson">
    <form (ngSubmit)="enviarJson()">
      <label for="jsonInput">Digite seu JSON:</label>
      <div>
        <textarea class="form-control mt-2" id="jsonInput" name="jsonInput" [(ngModel)]="jsonData" required></textarea>
      </div>

      <button class="btn btn-success btn-sm mx-2 mt-2" type="submit">Enviar JSON</button>
      <button class="btn btn-danger btn-sm mx-2 mt-2" (click)="mostrarTextParaJson()">Cancelar</button>
    </form>
  </div>


  <div class="mt-2 mx-2" *ngIf="pessoas && pessoas.length > 0">
    <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>CPF</th>
          <th>RG</th>
          <th>Tipo Sanguíneo</th>
          <th>Cidade</th>
          <th>Telefone Celular</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pessoa of pessoas; let i = index">
          <td>{{ pessoa.id }}</td>
          <td>{{ pessoa.nome }}</td>
          <td>{{ pessoa.cpf }}</td>
          <td>{{ pessoa.rg }}</td>
          <td>{{ pessoa.tipoSanguineo }}</td>
          <td>{{ pessoa.cidade }}</td>
          <td>{{ pessoa.celular }}</td>
        </tr>
      </tbody>
    </table>

    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        <li class="page-item" [class.disabled]="currentPage === 0">
          <a class="page-link" (click)="onPageChange(currentPage - 1)" aria-label="Previous">
            <span aria-hidden="true" role="button">&laquo;</span>
          </a>
        </li>
        <li class="page-item" *ngFor="let pageNumber of getVisiblePages(); let i = index">
          <a class="page-link" (click)="onPageChange(pageNumber)" [class.active]="pageNumber === currentPage">{{ pageNumber + 1 }}</a>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages - 1">
          <a class="page-link" (click)="onPageChange(currentPage + 1)" aria-label="Next">
            <span aria-hidden="true" role="button">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>

  </div>

  <div *ngIf="!pessoas || pessoas.length === 0">
    <p>Nenhuma pessoa encontrada.</p>
  </div>

</div>
